﻿@model NumberCheck2.Models.Numbers

@{
    ViewData["Title"] = "Test";
}

<h1>Test</h1>

<div>
    <h4>Numbers</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.One)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.One)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Two)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Two)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Tree)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Tree)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Four)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Four)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Five)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Five)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Six)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Six)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Seven)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Seven)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Eight)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Eight)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nine)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nine)
        </dd>
    </dl>
</div>
@*<div>
        @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
        <a asp-action="Index">Back to List</a>
    </div>*@



<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <script type="text/javascript" src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
    <title>Column Chart</title>
</head>
<body>
    <div id="chartContainer"></div>

    <script type="text/javascript">

        window.onload = function () {
            var sum =@Model.One+@Model.Two +@Model.Tree +@Model.Four + @Model.Five + @Model.Six + @Model.Seven + @Model.Eight + @Model.Nine  ;
            var chart = new CanvasJS.Chart("chartContainer", {
                theme: "light2",
                animationEnabled: true,
                title: {
                    text: "Bendford's law - distribution"
                },
                data: [
                    {
                        type: "column",
                        dataPoints: [
                            { y: @Model.One* 100 / sum, label: "One", color:"red" },
                            { y: 30.1, label: "One Ideal", color: "red" },
                            { y: @Model.Two* 100 / sum, label: "Two", color: "yellow" },
                            { y: 17.6, label: "Two Ideal", color: "yellow" },
                            { y: @Model.Tree* 100 / sum, label: "Three", color: "blue" },
                            { y: 12.5, label: "Three Ideal", color: "blue" },
                            { y: @Model.Four* 100 / sum, label: "Four", color: "red" },
                            { y: 9.7, label: "Four Ideal", color: "red" },
                            { y: @Model.Five* 100 / sum, label: "Five", color: "yellow" },
                            { y: 7.9, label: "Five Ideal", color: "yellow" },
                            { y: @Model.Six* 100 / sum, label: "Six", color: "blue" },
                            { y: 6.7, label: "Six Ideal", color: "blue" },
                            { y: @Model.Seven* 100 / sum, label: "Seven", color: "red" },
                            { y: 5.8, label: "Seven Ideal", color: "red" },
                            { y: @Model.Eight* 100 / sum, label: "Eight", color: "yellow" },
                            { y: 5.1, label: "Eight Ideal", color: "yellow" },
                            { y: @Model.Nine* 100 / sum, label: "Nine", color: "blue" },
                            { y: 4.6, label: "Nine Ideal", color: "blue" }
                        ]
                    }
                ]
            });
            chart.render();
        };
    </script>

</body>
</html>			